* {
    font-family: Rubik;
    box-sizing: border-box
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.76)), url(../../img/b/R29vZ2xl/GatesOfOlympus1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black
}

h1 {
    text-align: center;
    color: #7df764
}

a:hover {
    text-decoration: none
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.adv {
    justify-content: center;
    display: flex;
    flex-wrap: wrap
}

img {
    vertical-align: middle;
    border-style: none
}

.popup-container {
    text-emphasis-position: center;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #000000b0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.popup-body {
    width: 350px;
    height: 200px;
    margin: 2% auto;
    background: #000000b0;
    border-radius: 0;
    color: #fff
}

@media(max-width:512px) {
    .popup-body {
        width: 310px;
        margin: 10% auto
    }
}

.popup-img {
    width: 450px;
    height: 555px;
    margin: 8% auto
}

.popup-img-close {
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: #fff;
    color: #000;
    float: right;
    padding: 5px;
    border-radius: 100px;
    position: absolute;
    margin-left: -7px;
    margin-top: -20px
}

@media(min-width:993px) {
    .popup-img-close {
        margin-left: 42px;
        margin-top: -12px
    }
}

.popup-header {
    height: 48px;
    width: 100%;
    background: #3f93b1;
    float: left
}

.popup-header h6 {
    margin: 13px
}

.popup-content {
    width: 100%;
    height: auto;
    padding: 15px 39px;
    float: left;
    font-size: 14px;
    background-color: #000
}

.col2 {
    width: 50%
}

.left {
    text-align: left
}

.right {
    text-align: right
}

.mrtop10 {
    margin-top: 10px
}

.hr {
    width: 100%;
    height: 2px;
    background: #333;
    float: left
}

.popup-label {
    width: 100%;
    float: left;
    background: #333;
    padding: 10px 15px;
    font-size: 12px
}

.popup-close {
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: #fff;
    color: #000;
    float: right;
    padding: 5px;
    border-radius: 100px;
    position: absolute;
    margin-top: -10px;
    margin-left: -9px
}

.bg-blue-button {
    background: #3f93b1
}

.bg-black-button {
    background: #535353
}

.popip-button {
    cursor: pointer;
    width: 50%;
    float: left;
    height: 40px
}

.popip-button:hover {
    background: #3f93b1
}

.slideshow-images-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 6px
}

.slideshow-images {
    display: none
}

.prev-slideshow-images,
.next-slideshow-images {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -14px;
    padding: 16px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none
}

.title {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 5px
}

.title-text {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 900
}

.slot {
    display: block
}

.spinner {
    animation: .5s ease-in-out 0s normal none infinite running sk-scaleout;
    background-color: rgb(255, 174, 0);
    border-radius: 100%;
    display: inline-table;
    position: relative;
    float: inherit;
    height: 20px;
    margin: -8px 0 0 -12px;
    position: absolute;
    width: 20px;
    z-index: 2
}

@keyframes sk-scaleout {
    0% {
        transform: scale(0)
    }

    100% {
        opacity: 0;
        transform: scale(1)
    }
}

.logo {
    text-align: center
}

.logo img {
    height: 70px
}

.root {
    float: none;
    width: 100%;
    padding: 0;
    flex: 0 0 100%;
    max-width: 100%;
    display: inline-block;
    padding: 5px;
    border-radius: 15px
}

.slot .slot-sidebar {
    float: left;
    width: 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 10px;
    padding-left: 0;
    margin-top: 20px;
    background-color: #ffffff00
}

.sidebar-right {
    background: #333;
    padding: 5px;
    color: #fff;
    text-align: center;
    border-bottom: 5px solid #049101;
    border-radius: 20px 20px 0 0
}

.sidebar-right img {
    width: 50%
}

.sidebar-right h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 900;
    display: none
}

.slot-sidebar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    overflow: auto;
    overflow-y: hidden
}

.slot-sidebar-nav>li {
    border-bottom: 3px solid #ff8800;
    width: 100%;
    position: relative;
    display: block
}

.slot-sidebar-nav>li>a {
    color: #049101;
    font-size: 13px;
    padding: 7px 10px;
    display: block
}

.btn-provider i {
    margin-right: 5px
}

.enter {
    display: none
}

.btn-provider span {
    position: absolute;
    font-size: 13px;
    transform: translateY(10px)
}

.btn-provider h2 {
    font-size: 13px
}

.Home {
    background-image: url(../home.svg);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.joker-logo {
    background-image: url(../Joker.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 32px;
}

.pragma-logo {
    background-image: url(../Pragmaticplay.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.haba-logo {
    background-image: url(../habanero.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.cq9-logo {
    background-image: url(../cq9-2.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.pg-logo {
    background-image: url(../pg.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.micro-logo {
    background-image: url(../microgaming.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.ttg-logo {
    background-image: url(../logo-ttg.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}

.sg-logo {
    background-image: url(../spadegaming.png);
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    background-size: 20px
}


}

li.active a,
i {
    color: #ffffff;
    filter: drop-shadow(0px 0px 0px black)
}

.contents {
    color: #fff;
    text-align: justify
}

.contents h3 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px
}

.contents img {
    position: relative;
    max-width: 100%
}

.slot .content {
    float: right;
    width: 80%;
    padding: 0;
    flex: 0 0 80%;
    max-width: 80%
}

.wrapper {
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 0
}

.card {
    float: left;
    width: 25%;
    background: 0 0;
    border: none;
    text-align: center;
    position: relative;
    padding: 5px
}

.card-content {
    background: #ffb900;
    margin: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    overflow: hidden;
    position: relative;
    border-radius: 20px
}

.percent {
    height: 30px;
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    position: relative;
    z-index: 1
}

.percent p {
    z-index: 15;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    transform: translateY(14px);
    color: #000
}

.percent-bar {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    transition: width .6s ease;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    z-index: 10
}

.yellow {
    background-color: #ffb900
}

.green {
    background-color: #28a745
}

.red {
    background-color: #049101
}

.bg-blue-button {
    background: #3f93b1
}

.bg-black-button {
    background: #535353
}

.popip-button {
    cursor: pointer;
    width: 50%;
    float: left;
    height: 40px
}

.popip-button:hover {
    background: #3f93b1
}

.hover-btn {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, .65);
    transition: all .45s ease-in-out;
    z-index: 10;
    width: 100%
}

.play-btn {
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 27% auto;
    padding: 8px;
    background-color: #049101
}

.img-zoom {
    transition: all .45s ease-in-out;
    height: 141px
}

.hover-btn:hover {
    opacity: 100%
}

.hover-btn:hover~.img-zoom {
    transform: scale(1.2);
    position: relative
}

.next-btn {
    display: none;
    width: 30%
}

.mySlides {
    display: none
}

.next-btn {
    background-color: #2a2b29;
    border: none;
    color: #fff
}

@media(min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media(min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media(min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 1140px
    }
}

@media(max-width:992px) {
    .slot-sidebar-nav {
        flex-wrap: nowrap;
        border-bottom: 1px solid #ffb900;
        height: 105px
    }

    .slot-sidebar {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important;
        padding-right: 0 !important
    }

    .content {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important
    }

    .card {
        width: 33.3% !important
    }

    .hover-btn:hover {
        opacity: 0
    }

    .hover-btn:hover~.img-zoom {
        transform: scale(1);
        position: relative
    }

    .btn-provider {
        text-align: center;
        display: block
    }

    .slot-sidebar-nav>li>a {
        height: 70px
    }

    .enter {
        display: block
    }

    .btn-provider span {
        position: unset
    }

    .btn-provider i {
        margin: 0
    }

    .slot-sidebar-nav li {
        border-left: .2px solid #656565;
        border-right: .2px solid #656565;
        border-bottom: none
    }

    .img-zoom {
        height: auto
    }

    .next-btn {
        display: block
    }
}

.player-counter-container>h2 {
    display: inline-block;
    outline: none;
    box-sizing: border-box;
    border-radius: .3em;
    text-transform: uppercase;
    box-shadow: inset 0 -2px 5px 1px #f7ca64, inset 0 -1px 1px 3px #f7ca64;
    background-image: linear-gradient(0deg, #f7ca64, #f7ca64, #f7ca64, #f7ca64, #f7ca64);
    border: 1px solid #000;
    color: #fff;
    text-shadow: 0 2px 2px rgb(0 0 0);
    transition: all .2s ease-in-out;
    background-size: 100% 100%;
    background-position: center;
    max-width: 500px;
    z-index: 5;
    padding: 15px;
    letter-spacing: 0;
    font-size: 2vw;
    font-weight: 700;
    margin: 10px auto;
    line-height: inherit;
    text-align: center
}

.player-counter-wrapper {
    display: flex;
    vertical-align: middle;
    align-items: center
}

.player-counter-wrapper>span {
    position: absolute;
    font-size: 6.5vw;
    z-index: 1;
    color: #fff;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center
}

.player-counter-wrapper>img {
    width: 100%
}

.announcement {
    width: 100%;
    padding: 7px;
    color: #fff;
    position: relative;
    display: flex
}

.announcement i {
    width: 28px;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    position: relative;
    left: 0;
    color: #d3a43e
}

.banner {}

.banner img {
    width: 100%
}

.game {
    text-align: center;
    position: relative;
    color: #fff;
    padding: 15px
}

.menu-bottom {
    display: none;
    height: 63px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    background: #000;
    border-top: 2px solid #707070
}

.sub-menu-bottom {
    width: 25vw;
    height: 100%;
    float: left
}

.sub-menu-bottom:hover {
    background: #525252
}

.icon-menu {
    width: 4vw;
    height: auto;
    margin: 8px
}

.text-menu {
    font-size: 12px;
    padding: 0;
    margin: 0;
    color: #fff
}

@media(max-width:992px) {
    .menu-bottom {
        display: block
    }
}

@media(min-width:768px) {
    .menu-bottom {
        height: 82px
    }
}

.marquee {
    color: #24d503
}

.logoatas {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.logoatas img {
    width: 50%

}


/* FORCE stylish sidebar (paste at END) */

.slot-sidebar.res-bar,
.slot .slot-sidebar {
  background: rgba(0,0,0,0.35) !important;
  border: 1px solid rgba(4,145,1,0.35) !important;
  border-radius: 18px !important;
  padding: 12px 10px !important;
  box-shadow: 0 12px 28px rgba(0,0,0,0.35), inset 0 0 18px rgba(4,145,1,0.12) !important;
}

.sidebar-right {
  background: rgba(12,12,12,0.72) !important;
  border: 1px solid rgba(4,145,1,0.35) !important;
  border-bottom: 4px solid #049101 !important;
  border-radius: 16px !important;
  padding: 14px 10px !important;
}

.sidebar-right img {
  width: 62% !important;
  max-width: 170px !important;
  display: block !important;
  margin: 8px auto 10px !important;
}

.sidebar-right .spinner {
  position: static !important;
  margin: 10px auto 8px !important;
  width: 26px !important;
  height: 26px !important;
  border-radius: 50% !important;
  background: transparent !important;
  border: 3px solid rgba(4,145,1,0.22) !important;
  border-top-color: #24d503 !important;
  animation: spin 0.9s linear infinite !important;
}

@keyframes spin { to { transform: rotate(360deg); } }

.slot-sidebar-nav {
  margin-top: 10px !important;
  border-radius: 14px !important;
  background: rgba(0,0,0,0.25) !important;
  border: 1px solid rgba(255,255,255,0.06) !important;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  max-height: calc(100vh - 240px) !important;
}

.slot-sidebar-nav > li {
  border-bottom: 1px solid rgba(255,136,0,0.25) !important;
}

.slot-sidebar-nav > li > a.btn-provider {
  margin: 8px !important;
  border-radius: 12px !important;
  padding: 12px 12px !important;
  background: linear-gradient(135deg, rgba(4,145,1,0.10), rgba(0,0,0,0.35)) !important;
  border: 1px solid rgba(4,145,1,0.22) !important;
  transition: transform .18s ease, box-shadow .18s ease !important;
}

.slot-sidebar-nav > li > a.btn-provider:hover {
  transform: translateY(-2px) !important;
  box-shadow: 0 10px 18px rgba(0,0,0,0.35), 0 0 14px rgba(36,213,3,0.25) !important;
  border-color: rgba(36,213,3,0.65) !important;
}

.slot-sidebar-nav > li.active > a,
.slot-sidebar-nav > li > a.active {
  background: linear-gradient(135deg, rgba(36,213,3,0.25), rgba(0,0,0,0.35)) !important;
  border-color: rgba(36,213,3,0.85) !important;
  box-shadow: 0 0 18px rgba(36,213,3,0.30) !important;
}

.btn-provider h2 { color: #eaffef !important; font-weight: 700 !important; }

/* Fix your buggy selector effect (so not ALL i tags change) */
li.active a, li.active i { color: #fff !important; }



/* ===== REMOVE SIDEBAR SCROLLBAR ===== */

.slot-sidebar-nav {
  overflow: hidden !important;
  max-height: none !important;
}

/* Mobile keeps your horizontal style */
@media (max-width: 992px) {
  .slot-sidebar-nav {
    overflow-x: auto !important;
    overflow-y: hidden !important;
  }
}





